{% layout 'layout.liquid' %}
{% block content %}
    <h1 class="welcome">Welcome to Music Taste</h1>
    <audio id="playTopTrack" autoplay>
        <source src="{{ topSongs.items[0].preview_url }}" type="audio/mpeg">
        Your browser does not support audio playback
    </audio>
    <div id="content">        
        <div class="top-artists">
            <div class="artists-container">
                <h2 class="artist-title">Top Artists:</h2>
                {% for item in topArtists.items %}
                    <p class="artist-response">{{ item.name }}</p>
                {% endfor %}
            </div>
            <div class="artist-image">
                <img id="artistImage" src="{{ topArtists.items[0].images[0].url }}" alt="{{ topArtists.items[0].name }} image" class="responseImage">
            </div>
        </div>
        <div class="top-songs">
            <div class="songs-container">
                <h2 class="songs-title">Top Songs:</h2>
                {% for item in topSongs.items %}
                        <p class="songs-response">{{ item.name }}</p>
                {% endfor %}
            </div>
            <div class="songs-image">
                <img id="songImage" src="{{ topSongs.items[0].album.images[0].url }}" alt="{{ topSongs.items[0].name }} image" class="responseImage">
                <p class="now-playing">Now playing {{ topSongs.items[0].name }} by {{ topSongs.items[0].artists[0].name }}</p>
            </div>
        </div>
        <button id="downloadButton">Download as PNG</button>
        <form action="/logout" method="GET">
            <button type="submit">Logout</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script>
        // ---------------------------------- Download Function ----------------------------------
        document.getElementById('downloadButton').addEventListener('click', function() {
            html2canvas(document.querySelector('main')).then(function(canvas) {
                let link = document.createElement('a');
                document.body.appendChild(link);
                link.download = 'music_taste.png';
                canvas.toBlob(function(blob) {
                    let url = URL.createObjectURL(blob);
                    link.href = url;
                    link.click();
                    document.body.removeChild(link);
                });
            });
        });

        // ---------------------------------- Include Images Function ----------------------------------
        let artistImg = new Image();
        artistImg.crossOrigin = "Anonymous";
        artistImg.onload = function() {
            let canvas = document.createElement("canvas");
            canvas.width = this.width;
            canvas.height = this.height;
            let ctx = canvas.getContext("2d");
            ctx.drawImage(this, 0, 0);
            document.getElementById('artistImage').src = canvas.toDataURL();
        };
        artistImg.src = "{{ topArtists.items[0].images[0].url }}";

        let songImg = new Image();
        songImg.crossOrigin = "Anonymous";
        songImg.onload = function() {
            let canvas = document.createElement("canvas");
            canvas.width = this.width;
            canvas.height = this.height;
            let ctx = canvas.getContext("2d");
            ctx.drawImage(this, 0, 0);
            document.getElementById('songImage').src = canvas.toDataURL();
        };
        songImg.src = "{{ topSongs.items[0].album.images[0].url }}";
    </script>
{% endblock %}
