{% layout 'layout.liquid' %}
{% block content %}
<audio id="playTopTrack" autoplay>
    <source src="{{ topSongs.items[0].preview_url }}" type="audio/mpeg">
    Your browser does not support audio playback
    </audio>  
    <div id="content">        
        <div class="welcome-container">
            <h1 class="welcome">Welcome to Music Taste</h1>
            <p>Your top listens in the last 30 days</p>
        </div>
        <div class="top-artists">
            <div class="artists-container">
                <h2 class="artist-title">Top Artists</h2>
                {% for item in topArtists.items %}
                    <p class="artist-response">{{ item.name }}</p>
                {% endfor %}
            </div>
            <div class="artist-image">
                <img id="artistImage" src="{{ topArtists.items[0].images[0].url }}" alt="{{ topArtists.items[0].name }} image" class="responseImage">
            </div>
        </div>

        <div class="top-songs">
            <div class="songs-image">
                <img id="songImage" src="{{ topSongs.items[0].album.images[0].url }}" alt="{{ topSongs.items[0].name }} image" class="responseImage">
                <p class="now-playing">Now playing {{ topSongs.items[0].name }} by {{ topSongs.items[0].artists[0].name }}</p>
            </div>
            <div class="songs-container">
                <h2 class="songs-title">Top Songs</h2>
                {% for item in topSongs.items %}
                        <p class="songs-response">{{ item.name }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div id="buttonContainer">
        <form action="/logout" method="get">
            <button type="submit" id="logoutButton">Logout</button>
        </form>
        <button id="downloadButton">Download as PNG</button>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
    <script>
    // ---------------------------------- Download Function ----------------------------------
    document.getElementById('downloadButton').addEventListener('click', function() {
    // onclick button to be displayed as none
    document.getElementById('downloadButton').style.display = 'none';
    document.getElementById('logoutButton').style.display = 'none';

    // get content by id
    const contentElement = document.getElementById('content');
    // Get the dimensions and position of the #content element
    const rect = contentElement.getBoundingClientRect();

    // Convert html to canvas and download as png
    html2canvas(document.body, {
        x: rect.left,
        y: rect.top,
        width: rect.width,
        height: rect.height
    }).then(function(canvas) {
        let link = document.createElement('a');
        document.body.appendChild(link);
        // Define file name
        link.download = 'YourMusicTaste.png';
        // Create a blob from the canvas
        canvas.toBlob(function(blob) {
            // Create a URL for the blob and set it as the href of the download link
            let url = URL.createObjectURL(blob);
            link.href = url;
            // Trigger a click on the link to start the download
            link.click();
            // Clean up
            document.body.removeChild(link);
            URL.revokeObjectURL(url);
            // After canvas is generated, style button to be block to be shown again
            document.getElementById('downloadButton').style.display = 'block';
            document.getElementById('logoutButton').style.display = 'block';
        });
    });
});



        // ---------------------------------- Include Images Function ----------------------------------
        let artistImg = new Image();
        artistImg.crossOrigin = "Anonymous";
        artistImg.onload = function() {
            let canvas = document.createElement("canvas");
            canvas.width = this.width;
            canvas.height = this.height;
            let ctx = canvas.getContext("2d");
            ctx.drawImage(this, 0, 0);
            document.getElementById('artistImage').src = canvas.toDataURL();
        };
        // similar to authorized.liquid, select first image url in index to avoid saving multiple urls for IMG
        artistImg.src = "{{ topArtists.items[0].images[0].url }}";

        let songImg = new Image();
        songImg.crossOrigin = "Anonymous";
        songImg.onload = function() {
            let canvas = document.createElement("canvas");
            canvas.width = this.width;
            canvas.height = this.height;
            let ctx = canvas.getContext("2d");
            ctx.drawImage(this, 0, 0);
            document.getElementById('songImage').src = canvas.toDataURL();
        };
        songImg.src = "{{ topSongs.items[0].album.images[0].url }}";
    </script>
{% endblock %}
